<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="text-center">ログイン</h2>
       <%= form_with model: @user, url: user_registration_path do |f| %>
        <table class="table table-sm table-borderless">
          <tr>
            <td>メールアドレス</td>
            <td class="text-right"><%= f.label :email, "Email" %></td>
            <td><%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "sample@example.com" %></td>
          </tr>
          <tr>
            <td>パスワード</td>
            <td class="text-right"><%= f.label :password, "パスワード" %></td>
            <td><%= f.password_field :password, autocomplete: "new_password", class: "form-contol" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
